#include <physical_layouts.dtsi>

/ {
    velvet_layout: velvet_layout {
        compatible = "zmk,physical-layout";
        display-name = "Layout";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   85       0     0     0>
            , <&key_physical_attrs 100 100  100   85       0     0     0>
            , <&key_physical_attrs 100 100  200   47       0     0     0>
            , <&key_physical_attrs 100 100  300   22       0     0     0>
            , <&key_physical_attrs 100 100  400   47       0     0     0>
            , <&key_physical_attrs 100 100  500   47       0     0     0>
            , <&key_physical_attrs 100 100 1250   47       0     0     0>
            , <&key_physical_attrs 100 100 1350   47       0     0     0>
            , <&key_physical_attrs 100 100 1450   22       0     0     0>
            , <&key_physical_attrs 100 100 1550   47       0     0     0>
            , <&key_physical_attrs 100 100 1650   85       0     0     0>
            , <&key_physical_attrs 100 100 1750   85       0     0     0>
            , <&key_physical_attrs 100 100    0  185       0     0     0>
            , <&key_physical_attrs 100 100  100  185       0     0     0>
            , <&key_physical_attrs 100 100  200  147       0     0     0>
            , <&key_physical_attrs 100 100  300  122       0     0     0>
            , <&key_physical_attrs 100 100  400  147       0     0     0>
            , <&key_physical_attrs 100 100  500  147       0     0     0>
            , <&key_physical_attrs 100 100 1250  147       0     0     0>
            , <&key_physical_attrs 100 100 1350  147       0     0     0>
            , <&key_physical_attrs 100 100 1450  122       0     0     0>
            , <&key_physical_attrs 100 100 1550  147       0     0     0>
            , <&key_physical_attrs 100 100 1650  185       0     0     0>
            , <&key_physical_attrs 100 100 1750  185       0     0     0>
            , <&key_physical_attrs 100 100    0  285       0     0     0>
            , <&key_physical_attrs 100 100  100  285       0     0     0>
            , <&key_physical_attrs 100 100  200  247       0     0     0>
            , <&key_physical_attrs 100 100  300  222       0     0     0>
            , <&key_physical_attrs 100 100  400  247       0     0     0>
            , <&key_physical_attrs 100 100  500  247       0     0     0>
            , <&key_physical_attrs 100 100 1250  247       0     0     0>
            , <&key_physical_attrs 100 100 1350  247       0     0     0>
            , <&key_physical_attrs 100 100 1450  222       0     0     0>
            , <&key_physical_attrs 100 100 1550  247       0     0     0>
            , <&key_physical_attrs 100 100 1650  285       0     0     0>
            , <&key_physical_attrs 100 100 1750  285       0     0     0>
            , <&key_physical_attrs 100 100  865    0    3000 (-50) (-78)>
            , <&key_physical_attrs 100 100  200  347       0     0     0>
            , <&key_physical_attrs 100 100  300  322       0     0     0>
            , <&key_physical_attrs 100 100  450  410       0     0     0>
            , <&key_physical_attrs 100 100  685  232    1500 (-50) (-78)>
            , <&key_physical_attrs 100 100 1000  735 (-1500) (-50) (-78)>
            , <&key_physical_attrs 100 100 1300  410       0     0     0>
            , <&key_physical_attrs 100 100 1450  322       0     0     0>
            , <&key_physical_attrs 100 100 1550  347       0     0     0>
            , <&key_physical_attrs 100 100  625  972 (-3000) (-50) (-78)>
            ;
    };
};
